@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme: "";
  --footer: #96CDEB;
  --header: rgba(0, 0, 0, 0.1);
  --primary: #0099ff;
  --secondary: "#000"
}

/* Dark Theme */
.dark {
  --background: #171717;
  --foreground: #ffffff;
  --footer: #153243;
  --header: rgba(255, 255, 255, 0.1);
  --primary: #05b572;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Urbanist", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
  padding-left: 100%;
}