@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root {
  --background: #EFF1F3;
  --background2: #fff;
  --foreground: #171717;
  --theme: "";
  --footer: #96cdeb;
  --header: rgba(0, 0, 0, 0.1);
  --primary: #05b572;
  --secondary: #000;
}


/* Dark Theme */
.dark {
  --background: #171717;
  --background2: #101010;
  --foreground: #ffffff;
  --footer: #153243;
  --header: rgba(255, 255, 255, 0.1);
  --primary: #05b572;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Urbanist", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
  padding-left: 100%;
}

.headerLogoClass {
  height: 56px;
  width: 100%;
  object-fit: contain;
}

.footerLogo {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 2.6em;
  height: 1.4em;
}

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #facc15, #fbbf24);
  /* Day gradient */
  transition: background 0.4s ease;
  border-radius: 9999px;
  overflow: hidden;
}

.switch-container .slider:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  left: 0.2em;
  bottom: 0.2em;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px #facc15;
  transition: transform 0.4s ease, box-shadow 0.4s;
}

/* Night mode */
.switch-container input:checked+.slider {
  background: linear-gradient(to right, #0f172a, #1e293b);
}

.switch-container input:checked+.slider:before {
  transform: translateX(1.2em);
  background: #f1f5f9;
  box-shadow: 0 0 5px #f1f5f9;
}